<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="false" throwExceptions="false" internalLogLevel="Off" internalLogFile="lhq-gen-nlog-internal.log">

  <targets>
    <target xsi:type="File" name="file" encoding="utf-8" fileName="${var:appLogsFolder}/lhq-gen-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|#${threadid}|${message}${onexception:${newline}${exception:format=tostring}}" />

    <target xsi:type="Console" name="console" layout="${message}${onexception:${newline}${exception:format=tostring}}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
