@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">
        <h3>
            @if (Model.HasSubmitData)
            {
                @Model.GetWelcomeMessage()
            }
            else
            {
                @StringsModel.Messages.PleaseEnterInfo
            }
        </h3>

        @if (Model.HasSubmitData)
        {
            <h4>
                @StringsModel.Messages.WelcomeSubmessage
            </h4>
        }
    </div>
</div>
@if (!Model.HasSubmitData)
{
    <div class="row">
        <div class="col-6">
            <form method="post" class="form-horizontal">
                <div id="ChangePasswordValidationSummary" asp-validation-summary="ModelOnly" class=""></div>
                <div class="form-group required">
                    <label for="edUsername" asp-for="Model.Username" class="control-label"></label>
                    <input type="text" asp-for="Model.Username" class="form-control" id="edUsername">
                    <span id="valAge" asp-validation-for="Model.Username" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label for="edName" asp-for="Model.Name" class="control-label"></label>
                    <input type="text" asp-for="Model.Name" class="form-control" id="edName">
                    <span id="valName" asp-validation-for="Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="edSurname" asp-for="Model.Surname" class="control-label"></label>
                    <input type="text" asp-for="Model.Surname" class="form-control" id="edSurname">
                    <span id="valSurname" asp-validation-for="Model.Surname" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
}