name: Publish UI App

on:
  workflow_dispatch:
    inputs:
      publish_cli_tools:
        description: 'Publish CLI tools along with UI App'
        required: false
        default: true
        type: boolean
      prerelease:
        description: 'Mark as prerelease'
        required: false
        default: true
        type: boolean
      release_tag:
        description: 'Tag of the release'
        required: true
        default: ''
        type: string
      release_name:
        description: 'Name of the release'
        required: false
        default: ''
        type: string

env:
  VKP_VERSION: '0.0.1369-g1d5c984'
  NODE_VERSION: '20.x'
  REGISTRY_URL: 'https://npm.pkg.github.com'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
          version: 10

      - name: Setup Node.js for GitHub Packages
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: ${{ env.REGISTRY_URL }}
          scope: '@psulek'
          cache: 'pnpm'
          cache-dependency-path: 'src/Gen.Lib/pnpm-lock.yaml'

      - name: Set token config
        working-directory: src/Gen.Lib
        shell: bash
        run: |
          echo "registry=https://registry.npmjs.org/" > .npmrc
          echo "@psulek:registry=https://npm.pkg.github.com" >> .npmrc
          echo "//npm.pkg.github.com/:_authToken=$GH_READ_PACKAGES_TOKEN" >> .npmrc
        env:
          GH_READ_PACKAGES_TOKEN: ${{ secrets.GH_READ_PACKAGES_TOKEN }}

      - name: Install dependencies
        run: |
          pnpm add -g semver

      - name: Validate release tag value
        id: validate_tag
        uses: ./.github/actions/validate-tag
        with:
          tag: ${{ github.event.inputs.release_tag || '' }}

      - name: Update tag environment variables
        shell: bash
        run: | 
          echo "TAG_VERSION=${{ steps.validate_tag.outputs.tag_version }}" >> $GITHUB_ENV
          echo "TAG_VALID=${{ steps.validate_tag.outputs.tag_valid }}" >> $GITHUB_ENV

      - name: Verify tag validity
        shell: bash
        if: env.TAG_VALID == '0'
        run: |
          echo "TAG_VALID=${{ env.TAG_VALID }} , TAG_VERSION=${{ env.TAG_VERSION }}"
          echo "Error: The provided release tag '${{ github.event.inputs.release_tag }}' is not valid."
          exit 1

      - name: update application version
        uses: ./.github/actions/update-version
        with:
          new_version: ${{ env.TAG_VERSION }}
          app_project_path: 'src/App/'
          root_path: '.'
          
      - name: Set token config
        working-directory: src/Gen.Lib
        shell: bash
        run: |
          echo "registry=https://registry.npmjs.org/" > .npmrc
          echo "@psulek:registry=https://npm.pkg.github.com" >> .npmrc
          echo "//npm.pkg.github.com/:_authToken=$GH_READ_PACKAGES_TOKEN" >> .npmrc
        env:
          GH_READ_PACKAGES_TOKEN: ${{ secrets.GH_READ_PACKAGES_TOKEN }}

      - name: Restore JS Libs dependencies for Gen.Lib
        working-directory: src/Gen.Lib
        shell: pwsh
        run: |
          & ./RestoreJSLib.ps1
        env:
          GH_READ_PACKAGES_TOKEN: ${{ secrets.GH_READ_PACKAGES_TOKEN }}

      - name: Build and Publish UI App
        uses: ./.github/actions/uiapp/
        with:
          mode: 'build_publish'
          vpk_version: ${{ env.VKP_VERSION }}
          prerelease: ${{ github.event.inputs.prerelease }}
          release_name: ${{ github.event.inputs.release_name || '' }}
          release_tag: ${{ github.event.inputs.release_tag || '' }}
          new_version: ${{ env.TAG_VERSION }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: publish CLI App
        id: publish-cli 
        if: ${{ github.event.inputs.publish_cli_tools == 'true' }}
        uses: ./.github/actions/cliapp/
        with:
          new_version: ${{ env.TAG_VERSION }}

      - name: Add CLI tools assets to the release
        uses: softprops/action-gh-release@v2
        if: ${{ github.event.inputs.publish_cli_tools == 'true' }}
        with:
          tag_name: ${{ github.event.inputs.release_tag }}
          body: ''
          append_body: ''
          files: |
            ${{ steps.publish-cli.outputs.linux_path }}
            ${{ steps.publish-cli.outputs.windows_path }}
